<!-- index.html -->
    <!DOCTYPE html>

    <!-- define angular app -->
    <html ng-app="TwitchGameAnalyzerApp">
    <head>
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

      <!-- SPELLS -->
      <!-- load angular via CDN -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
          <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
      <script src="controller/script.js"></script>
      <script src="//code.jquery.com/jquery.min.js"></script>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>

    </head>

    <!-- define angular controller -->
    <body ng-controller="mainController">
<!-- 	<img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" ng-click="twitchLogin();"  href="#" /> -->
<button ng-click="getTopPlayersData();">Get Top Players Data</button>
	<button ng-click="getTopPlayers();">Get Top Players</button>
	<button ng-click="getGameTime();">Get Top Players</button>
	<button ng-click="getTestData();">Get Top Players</button>
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
    {{myTestData}}
<!--     {{topPlayers.streams}} -->
<table>
<tr>
    <td>
    ID
    </td>
    <td>
    Name
    </td>
        <td>
   Actual Game Length
    </td>
    </tr>
    <tr ng-repeat="person in topPlayers track by $index">
    <td>
    {{person.playerID}}
    </td>
    <td>
    {{person.name}}
    </td>
        <td>
   {{person.actualGameLength}}
    </td>
    </tr>

</table>     

        <!-- angular templating -->
        <!-- this is where content will be injected -->
    </div>